:root {
  --accent: rgba(255, 255, 255, 0.8);
}

.word-entry-block {
  transition: all 1s;
}

.word-entry-block:hover {
  box-shadow: inset 0 0 15px var(--accent);
}

.translation {
  position: relative;
}

.translation::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
  z-index: 10;
  border-radius: 7px;
  transition: all 1.5s 0.2s;
  cursor: none;
}

.translation:hover::after {
  background-color: transparent;
}
